
* {
  box-sizing: border-box;
}

body {
  font-family: 'Bree Serif', serif;
  padding: 0;
  margin: 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin: 0 0 4rem;
}